body { 
    font-family: 'Hind Siliguri', sans-serif; 
}

/* Custom scrollbar hide for category bar */
.scrollbar-none::-webkit-scrollbar { 
    display: none; 
}
.scrollbar-none { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}